/*Общее*/
body{
  background-color: #fff;
  color: #000;
  font: normal 17px/17px 'Cuprum', Arial, sans-serif;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn{
  background-color: #ee3643;
  border-radius: 3px;
  color:#fff;
  display: inline-block;
  font: normal 14px/18px Cuprum, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.btn:hover{
  background-color: #ca2c37;
}
.btn:active{
  background-color: #ba2732;
}
.logo{
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  display: block;
  text-align: center;
  width: 220px;
}
.logo:hover{
  background-color: #ca2c37;
}
.logo:active{
  background-color: #ba2732;
}
.logo img{
  vertical-align: middle;
}

/*Основная шапка*/
.site-header{
  background-color: #f3f7f8;
}

/*Верх шапки*/
.header-top{
  background-color: #293449;
  display: flex;
  justify-content: space-between;
}
.header-top .logo{
  height: 42px;
  line-height: 42px;
}
.search-form{
  position: relative;
}
.search-input{
  background-color: transparent;
  border: none;
  height: 42px;
  padding-left: 48px;
  width: 270px;
}
.search-input:hover{
  background-color: #212a3a;
}
.search-input:focus{
  background-color: #fff;
  color: #000;
  height: 42px;
}
.search-btn{
  background: url("../img/icon-search.svg") transparent no-repeat center;
  border: none;
  color: inherit;
  font: inherit;
  height: 42px;
  left: 0;
  padding: 0;
  position: absolute;
  opacity: 0.3;
  top: 0;
  width: 48px;
}
.search-btn:hover{
  opacity: 1;
  border: none;
}
.header-top-link{
  background-position: 17px 50%;
  background-repeat: no-repeat;
  display: block;
  color: #fff;
  height: 42px;
  line-height: 42px;
  text-align: center;
  width: 150px;
}
.header-top-link:hover{
  background-color: #212a3a;
}
.header-top-link:active{
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}
.mark{
  background-image: url("../img/icon-bookmark.svg");
}
.basket{
  background-image: url("../img/cart-icon.svg");
}
.order{
  background-color: #63a63e;
}
.order:hover{
  background-color: #5fbb2d;
}
.order:active{
  background-color: #518534;
}

/*Средняя часть шапки*/
.header-middle .site-heading{
  font: italic 16px/23px "Cuprum Italic", Arial, sans-serif;
  color: #ee3643;
}
.header-middle .address{
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}
.address .telephone{
  background: url("../img/icon-phone.svg") no-repeat 12px 50%;
  border: 3px solid #fff;
  display: table-cell;
  color: #ee3643;
  font-size: 21px;
  height: 45px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  width: 270px;
}

/*Блок регистрации для index*/
.registration{
  list-style: none;
  padding: 0;
}
.registration .reg-link{
  background-color: #fff;
  color: #000;
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
}
.registration .reg-link:hover{
  color: #ee3643;
}
.registration .reg-link:active{
  color: rgba(0, 0, 0, 0.3);
}

/*Блок учетной записи для catalog*/
.account .account-link{
  background-color: #fff;
  color: #000;
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
}
.account .account-link:active{
  color: rgba(0, 0, 0, 0.3);
}
.account-list .account-link{
  background-color: transparent;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}
.account-list .account-link:hover{
  color: #ee3643;
}
.account-list .account-link:active{
  color: rgba(0, 0, 0, 0.3);
}
.account-list .my-order{
  list-style: none;
}

/*Навигация сайта*/
.site-navigation{
  background-color: #32425c;
}
.nav-list{
  border-bottom: 5px solid #293449;
  list-style: none;
  padding: 0;
}
.nav-item .nav-link{
  color: #fff;
}
.nav-item .nav-link:hover{
  background-color: #293449;
}
.nav-item .nav-link:active{
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/*Хлебные крошки для catalog*/
.breadcrumbs-list{
  list-style: none;
}
.breadcrumbs-link{
  color: #000;
  font: normal 13px/18px "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}


/*Контент*/
.main-content{
  background-color: #fff;
}
.index-heading{
  background-color: #f9f5f0;
  color: #32425c;
  font: normal 30px/30px "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}
.section-heading{
  background-color: #f2f6f8;
  color: #32425c;
  font: normal 30px/30px "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}

/*Фильтр для catalog*/
.filter{
  font: normal 15px/20px "PT Sans", Arial, sans-serif;
}
.filter-heading{
  background-color: #f7f3ec;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.filter-section{
  border: none;
  color: #000;
  text-transform: uppercase;
}
.filter-legend{
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}
.filter-label{
  font-size: 15px;
  line-height: 20px;
}
.price-range,
.min-price,
.max-price{
  background-color: #f7f3ec;
}
.filter-show{
  background-color: transparent;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.filter-section input:disabled{
  color: rgba(0, 0, 0, 0.4);
}

/*Сортировка*/
.sort{
  background-color: #f7f3ec;
  font: normal 13px/18px "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}
.sort-heading{
  color: #000;
  font: inherit;
}
.sort-list{
  list-style: none;
  padding: 0;
}
.sort-link{
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
  font: inherit;
}
.sort-link:hover{
  border-bottom: 1px solid #ee3643;
  color: rgba(0, 0, 0, 1);
}
.sort-link:active{
  border: none;
  color: #ee3643;
}

/*Карточки товаров*/
.popular-products ul,
.product-cards ul{
  list-style: none;
  padding: 0;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
}
.product-item{
  border: 1px solid #eaeaea;
  margin: 5px;
  width: 220px;
}
.product-item:hover{
  border: none;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 43, 0.5);
}
.product-list{
  font: bold 18px/20px "PT Sans", Arial, sans-serif;
}
.product-actions .product-link{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  border-radius: 3px;
}
.product-pay .product-link{
  background-color: #63a63e;
  color: #fff;
}
.product-pay .product-link:hover{
  background-color: #5fbb2d;
}
.product-pay .product-link:active{
  background-color: #518534;
}
.product-mark .product-link{
  border: 3px solid #63a63e;
  color: #32425c;
}
.product-mark .product-link:hover{
  border: 3px solid #32425c;
  color: #32425c;
}
.product-mark .product-link:active{
  border: 3px solid rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3);
}
.product-list .old-price{
  color: #a9a9a9;
  font: 700 17px/18px "PT Sans", Arial, sans-serif;
}
.product-list .new-price{
  display: block;
  font: bolder 17px/18px "PT Sans", Arial, sans-serif;
  width: 120px;
}

/*Популярные производители*/
.pop-fabric-list{
  list-style: none;
  padding: 0;
}

/*Доставка и контакты*/
.delivery-heading,
.contacts-heading{
  font: normal 30px/30px "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}
.delivery-text,
.contacts-caption{
  font: normal 13px/24px "PT Sans", Arial, sans-serif;
}
.delivery-list{
  font: normal 18px/20px "Cuprum", Arial, sans-serif;
  list-style-type: none;
}

/*Линки карточек*/
.card-link{
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #000;
  display: table-cell;
  font: normal 13px/18px "PT Sans", Arial, sans-serif;
  height: 38px;
  text-align: center;
  vertical-align: middle;
  width: 38px;
}
.card-link:hover{
  border-color: #bdc6ca;
}
.card-link:active{
  border-color: #ee3643;
}
.current-card{
  background-color: #ee3643;
  color: #fff;
}
.card-link:last-child{
  width: 140px;
}

/*Описание раздела*/
.page-caption{
  background-color: #f2f6f8;
}
.page-caption-heading{
  font: normal 30px/30px "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}
.page-caption-text{
  font: normal 13px/24px "PT Sans", Arial, sans-serif;
}

/*footer*/
.site-footer{
  background-color: #32425c;
  font: normal 18px/24px "Cuprum", Arial, sans-serif;
}
.site-footer ul{
  list-style: none;
  padding: 0;
}
.site-footer .footer-link:hover{
  text-decoration: underline;
}
.site-footer .footer-link:active{
  opacity: 0.5;
  text-decoration: none;
}
.footer-top .logo{
  height: 63px;
  line-height: 63px;
}
.footer-top .navigation-link{
  color: #f1f5f7;
}

.footer-middle address{
  color: #f3f7f9;
  font: normal 18px/20px "Cuprum", Arial, sans-serif;
}
.footer-middle .services-nav-link{
  color: #ffd180;
}

.footer-bottom{
  background-color: #293449;
}
.footer-bottom p{
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}
.footer-bottom a{
  color: #ffd180;
}
.footer-bottom .social-link{
  border-radius: 50%;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 42px;
  width: 42px;
}
.footer-bottom .social-link:hover,
.footer-bottom .social-link:active{
  background-color: #ee3643;
}
.footer-bottom .footer-link:active{
  color: #ee3643;
  opacity: 1;
}
.vk{
  background-image: url("../img/icon-vk.svg");
}
.fb{
  background-image: url("../img/icon-fb.svg");
}
.ig{
  background-image: url("../img/icon-insta.svg");
}


/*Попапы*/
.feedback-message,
.map-popup,
.order-message{
  display: none;
}
