@keyframes popup-show {
  0%{
    opacity: 0.8;
  }
  50%{
    opacity: 0.9;
  }
  100%{
    opacity: 1;
  }
}
@keyframes form-error{
  25%{
    transform: translate(-5px, 0);
  }
  50%{
    transform: translate(0, 0);
  }
  75%{
    transform: translate(5px, 0);
  }
  100%{
    transform: translate(0, 0);
  }
}
/*Общее*/
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #fff;
  color: #000;
  font: normal 17px/17px 'Cuprum', Arial, sans-serif;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.shift-left{
  margin-left: -20px;
}
.form-error{
  animation: form-error 0.2s ease;
  outline: 2px solid #ff0000;
}

/*Кнопка*/
.btn{
  align-items: center;
  background-color: #ee3643;
  border-radius: 3px;
  color:#fff;
  display: flex;
  flex-wrap: wrap;
  font: normal 14px/18px Cuprum, Arial, sans-serif;
  justify-content: center;
  min-height: 18px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}
.btn:hover{
  background-color: #ca2c37;
}
.btn:active{
  background-color: #ba2732;
}

/*Кнопка закрытия формы*/
.btn-close{
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.btn-close:before,
.btn-close:after {
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;
  width: 25px;
  height: 4px;
  background: #ee3643;
}
.btn-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.btn-close:hover::before,
.btn-close:hover::after{
  background-color: #ca2c37;
}
.btn-close:active::before,
.btn-close:active::after{
  background-color: #ba2732;
}

/*Логотип*/
.logo{
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  display: inline-block;
  text-align: center;
  width: 220px;
}
.logo:hover{
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}
.logo:active{
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;

}
.logo img{
  vertical-align: middle;
}

/*Основная шапка*/
.site-header{
  background-color: #f3f7f8;
  border-bottom: 1px solid transparent;
}

/*Верх шапки*/
.header-top{
  background-color: #293449;
  min-height: 42px;
}
.header-top .container{
  display: flex;
  flex-wrap: wrap;
}
.header-top .logo{
  flex-shrink: 0;
  min-height: 42px;
  line-height: 42px;
}
/*форма поиска*/
.search-form{
  position: relative;
}
.search-form:hover{
  background-color: #212a3a;
}
.search-form:hover .search-icon path{
  fill: rgba(255, 255, 255, 1);
}
.search-input{
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 11px 10px 13px 49px;
  min-width: 210px;
}
.search-input::placeholder{
  color: #fff;
}
.search-input:focus{
  background-color: #fff;
  color: #000;
}
.search-input:focus ~ .search-icon path{
  fill: #ee3643;
}
.search-icon{
  position: absolute;
  top: 12px;
  left: 18px;
}
.search-icon path{
  fill: rgba(255, 255, 255, 0.3);
}
/*кнопки верхней части шапки*/
.header-top-link{
  background-position: 17px 50%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: #fff;
  display: block;
  line-height: 18px;
  padding: 12px 20px;
  position: relative;
  vertical-align: middle;
  width: 150px;
}
.header-top-link:active{
  color: rgba(255, 255, 255, 0.6);
}
.mark{
  padding-left: 45px;
}
.mark::before{
  content: "";
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 16px;
  left: 17px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  width: 14px;
}
.basket{
  padding-left: 50px;
}
.basket::before{
  content: "";
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 15px;
  left: 18px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  width: 15px;
}
.basket-full{
  background-color: #ee3643 ;
}
.mark:hover,
.basket:hover{
  background-color: #212a3a;
}
.mark:active,
.basket:active{
  background-color: #161d29;
}
.mark:hover::before,
.basket:hover::before{
  opacity: 1;
}
.mark:active::before,
.basket:active::before{
  opacity: 0.5;
}
.order{
  background-color: #63a63e;
}
.order:hover{
  background-color: #5fbb2d;
}
.order:active{
  background-color: #518534;
}

/*Средняя часть шапки*/
.header-middle{
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}
.header-middle .site-heading{
  font: italic 16px/23px "Cuprum", Arial, sans-serif;
  color: #ee3643;
  display: inline-block;
  margin: 0 0 0 32px;
  padding: 3px 20px;
  width: 198px;
}
.header-middle .address-box{
  margin: 0 0 0 50px;
  width: 270px;
}
.address-box .telephone{
  background: url("../img/icon-phone.svg") no-repeat 12px 50%;
  border: 3px solid #fff;
  display: inline-block;
  color: #ee3643;
  font-size: 21px;
  padding: 10px 42px 10px 71px;
  line-height: 20px;
  width: 150px;
}
.address{
  color: #32425c;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  padding: 4px 5px 0 10px;
}

/*Блок регистрации для index*/
.registration{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}
.reg-item{
  margin-left: 10px;
}
.registration .reg-link{
  background-color: #fff;
  color: #000;
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
  padding: 12px 24px;
  position: relative;
}
.registration .reg-link:hover{
  color: #ee3643;
}
.registration .reg-link:active{
  color: rgba(0, 0, 0, 0.3);
}
.reg-link.log-in{
  padding-left: 48px;
  width: 50px;
}
.reg-link.log-in::before{
  content: "";
  background: url("../img/icon-login.svg") no-repeat 0 0;
  height: 17px;
  left: 15px;
  opacity: 0.3;
  position: absolute;
  top: 14px;
  width: 20px;
}
.reg-link.log-in:hover::before{
  opacity: 1;
}
.reg-link.reg-in{
  width: 102px;
}

/*Блок учетной записи для catalog*/
.account{
  margin-left: auto;
  width: 300px;
}
.account-link-wrap{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.account-btn{
  background-color: #fff;
  color: #000;
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
  padding: 12px 10px 12px 48px;
  position: relative;
  width: 255px;
}
.account-btn:active{
  color: rgba(0, 0, 0, 0.3);
}
.account-btn::before{
  background: url("../img/icon-user.svg") no-repeat center;
  content: "";
  height: 18px;
  left: 14px;
  opacity: 0.3;
  position: absolute;
  top: 13px;
  width: 20px;
}
.account-btn:hover::before{
  opacity: 1;
}
.account-btn:active::before{
  opacity: 0.3;
}
.log-out{
  background: url("../img/icon-logout.svg") no-repeat 14px 14px;
  right: 0;
  min-height: 45px;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 45px;
}
.log-out:hover{
  opacity: 1;
}
.log-out:active{
  opacity: 0.3;
}
.account-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 4px;
  width: 300px;
}
.account-list li{
  list-style: none;
}
.account-list .account-link{
  background-color: transparent;
  color: #32425c;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  padding: 4px 17px 0px 15px;
  position: relative;
  text-decoration: underline;
}
.account-list .account-link:hover{
  color: #ee3643;
}
.account-list .account-link:active{
  color: rgba(0, 0, 0, 0.3);
}
.account-link::after{
  background-color: #32425c;
  border-radius: 50%;
  content: "";
  height: 4px;
  position: absolute;
  top: 50%;
  right: -2px;
  width: 4px;
}
.account-item:last-child .account-link::after{
  background-color: transparent;
}

/*Навигация сайта*/
.site-navigation{
  margin-top: 37px;
  margin-bottom: 58px;
}
.nav-list{
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 5px 0 5px;
}
.nav-item .nav-link{
  color: #fff;
  display: inline-block;
  padding: 20px 30px 18px 30px;

}
.nav-item .nav-link:hover{
  background-color: #293449;
}
.nav-item .nav-link:active{
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}
.nav-list:first-child{
  padding: 0 25px 0 25px;
}


/*Контент*/
.main-content{
  background-color: #fff;
}

/*Блок преимуществ */
.features{
  color: #fff;
  min-height: 410px;
  margin-top: 60px;
}
.features .shift-left{
  display: flex;
  flex-wrap: wrap;
}
.features-top-wrap{
  display: flex;
  flex-wrap: wrap;
  order: 1;
}
.features-bottom-wrap{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  order: 3;
}
.features-item{
  margin: 0 0 20px 20px;
  min-height: 123px;
  position: relative;
  width: 300px;
}
.features-item::after{
  content: "";
  height: 123px;
  position: absolute;
  right: 0;
  top: 0;
  width: 132px;
}
.features-heading{
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  margin: 20px 132px 12px 22px;
}
.features-btn{
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 23px 20px 23px;
  width: 135px;
}
.features-btn:hover{
  background-color: rgba(0, 0, 0, 0.2);
}
.features-btn:active{
  background-color: rgba(0, 0, 0, 0.3);
}
.features-material{
  background-color: #ffbf47;
}
.features-material::after{
  background: url("../img/icon-1.svg") no-repeat center;
}
.features-tool{
  background-color: #3bbce3;
}
.features-tool::after{
  background: url("../img/icon-2.svg") no-repeat center;
}
.features-tech{
  background-color: #dc91d8;
}
.features-tech::after{
  background: url("../img/icon-3.svg") no-repeat center;
}
.features-discounts{
  background-color: #8ed78f;
}
.features-discounts::after{
  background: url("../img/icon-4.svg") no-repeat center;
}
.features-delivery{
  background-color: #ffc047;
}
.features-delivery::after{
  background: url("../img/icon-5.svg") no-repeat center;
}

/*Слайдер*/
.slider-wrap{
  height: 266px;
  margin-left: 20px;
  order: 2;
  position: relative;
  width: 620px;
}
.slider-item{
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}
.slider-item-heading{
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  margin: 24px 24px 0 24px;
  text-transform: uppercase;
}
.slider-item-caption{
  font-size: 18px;
  line-height: 24px;
  margin: 0 24px;
}
.slider-img{
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
.slide-show{
  animation: popup-show 0.8s ease;
  z-index: 15;
}
.slider-control{
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  left: 0;
  position: absolute;
  top: 0;
  width: inherit;
  z-index: 20;
}
.slide-switching{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 115px;
  vertical-align: middle;
  width: inherit;
}
.slide-switch{
  background-color: transparent;
  border: 3px solid #fff;
  border-right: none;
  border-top: none;
  display: inline-block;
  height: 28px;
  margin: 5px 28px 0 32px;
  width: 28px;
}
.slide-switch:hover{
  border-color: #c5c5c5;
}
.slide-switch:active{
  border-color: #ccc;
  outline: none;
}

.slide-switch-last{
  transform: rotate(45deg);
}
.slide-switch-next{
  transform: rotate(-135deg);
}
.open-catalog-btn{
  margin: 55px 20px 20px 25px;
  width: 195px;
}
.slide-btn-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  position: relative;
  width: 140px;
}
.slide-btn{
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
}
.slide-btn-selected{
  background-color: #ff5357;
}

/*Хлебные крошки*/
.breadcrumbs-list{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 5px 0;
  min-height: 50px;
}
.breadcrumbs-item{
  display: inline-block;
  position: relative;
}
.breadcrumbs-item::before{
  background: url("../img/icon-right-small.svg") no-repeat center;
  content: "";
  height: 12px;
  left: -8px;
  position: absolute;
  top: 3px;
  width: 8px;
}
.breadcrumbs-link{
  display: inline-block;
  color: #000;
  font: normal 13px/18px "PT Sans", Arial, sans-serif;
  padding: 0 26px 0 15px;
  text-transform: uppercase;
}
.breadcrumbs-home .breadcrumbs-link{
  height: 12px;
  padding-left: 0;
  width: 14px;
}
.breadcrumbs-home:hover svg path{
  fill: #ee3643;
}
.breadcrumbs-home:active svg path{
  fill: rgba(0, 0, 0, 0.3);
}
.breadcrumbs-home::before{
  background: transparent;
}
.breadcrumbs-link:hover{
  color: #ee3643;
}
.breadcrumbs-link:active{
  color: rgba(0, 0, 0, 0.3);
}

/*Заголовок catalog*/
.section-heading{
  background-color: #f2f6f8;
  color: #32425c;
  font: normal 30px/30px "Cuprum", Arial, sans-serif;
  margin: 0;
  padding: 30px;
  text-transform: uppercase;
}

/*Обертка контента для catalog*/
.main-wrap{
  display: flex;
  margin-top: 20px;
}
.content-wrap{
  margin-left: 20px;
  width: 700px;
}
/*Фильтр для catalog*/
.filter{
  font: normal 15px/20px "PT Sans", Arial, sans-serif;
  width: 220px;
}
.filter-heading{
  background-color: #f7f3ec;
  border-radius: 3px;
  display: block;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  min-height: 20px;
  padding: 9px 19px;
  text-transform: uppercase;
}
.filter-section{
  border: none;
  border-bottom: 1px solid #e5e5e5;
  display: block;
  color: #000;
  text-transform: uppercase;
  padding: 0;
  margin: 7px 0 0 0;
}
.filter-supply{
  border-bottom: none;
}
.filter-legend{
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  margin: 0;
  padding: 10px 0 14px 0;
}


/*Фильтр по диапазону*/
.filter-price{
  margin: 0;
}
.filter-price-filter {
  font-size: 0;
  margin-bottom: 16.5px;
  padding-bottom: 10px;
}
.filter-price-control {
  background-color: #f7f3ec;
  border-radius: 3px;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.filter-price-scale {
  background-color: #d7dcde;
  height: 2px;
  position: relative;
}
.filter-price-scale-bar {
  background-color: #00ca74;
  height: 2px;
  position: absolute;
  width: 150px;
}
.filter-price-scale-toggle {
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75);
  height: 20px;
  position: absolute;
  width: 20px;
}
.filter-price-scale-toggle::before {
  background-color: #ababab;
  border-radius: 50%;
  content: "";
  height: 5px;
  left: 7.5px;
  position: absolute;
  top: 7px;
  width: 5px;
}
.filter-price-min-toggle {
  top: 30px;
}
.filter-price-max-toggle {
  top: 30px;
  left: 150px;
}
.filter-price-inputs{
  display: flex;
  flex-wrap: wrap;
  font: normal 17px/18px "PT Sans", Arial, sans-serif;
  justify-content: space-between;
}
.filter-price-minus,
.filter-price-min,
.filter-price-max{
  display: inline-block;
  color: #000;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}
.filter-price-min,
.filter-price-max {
  background-color: #f7f3ec;
  border-radius: 5px;
  border: none;
  width: 95px;
}
.filter-price-minus{
  font-size: 16px;
}


/*Фильтры по производителям и патанию*/
.filter-label{
  cursor: pointer;
  display: block;
  font-size: 15px;
  line-height: 20px;
  margin: 0 35px 20px 35px;
  position: relative;
}
.filter-input{
  position: absolute;
  opacity: 0;
}
.filter-new-input {
  background: url("../img/checkbox-off.svg") no-repeat left;
  height: 27px;
  position: absolute;
  top: -5px;
  left: -35px;
  width: 27px;
}

/*Фильтр по производителю*/
.filter-fabric .filter-new-input {
  background: url("../img/checkbox-off.svg") no-repeat left;
  height: 27px;
  position: absolute;
  top: -3px;
  left: -35px;
  width: 27px;
}
.filter-fabric .filter-input:focus ~ .filter-new-input{
  outline: 1px solid #2347ff;
}
.filter-fabric .filter-input:checked + .filter-new-input{
  background: url("../img/checkbox-on.svg") no-repeat left;
}

/*Фильтр по питанию*/
.filter-supply{
  margin-top: 10px;
}
.filter-supply .filter-new-input{
  background: url("../img/radio-off.svg") no-repeat left;
}
.filter-supply .filter-input:focus ~ .filter-new-input{
  outline: 1px solid #2347ff;
}
.filter-supply .filter-input:checked + .filter-new-input{
  background: url("../img/radio-on.svg") no-repeat left;
}

/*Кнопка фильтра */
.filter-show{
  align-items: center;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  justify-content: center;
  line-height: 18px;
  margin-top: 57px;
  min-height: 38px;
  outline: 0;
  text-transform: uppercase;
  width: 140px;
}
.filter-show:hover{
  background-color: #e5e5e5;
}
.filter-show:active{
  background-color: transparent;
  border-color: transparent;
}
.filter-section input:disabled{
  color: rgba(0, 0, 0, 0.4);
}

/*--Сортировка--*/
.sort{
  background-color: #f7f3ec;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font: normal 13px/18px "PT Sans", Arial, sans-serif;
  margin: 0;
  min-height: 18px;
  padding: 10px;
  text-transform: uppercase;
}
.sort-heading{
  display: block;
  color: #000;
  font: inherit;
  margin: 0;
  padding: 0 10px;
  width: 140px;
}
.sort-list{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0 0 0 auto;
  max-width: 516px;
  padding: 0;
}
.sort-link{
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
  font: inherit;
  margin: 0 36px 0 32px;
}
.sort-link:hover{
  border-bottom: 1px solid #ee3643;
  color: rgba(0, 0, 0, 1);
}
.sort-link:active{
  border: none;
  color: #ee3643;
}
.sort-up,
.sort-down{
  display: block;
  margin: 0 8px 0 10px;
  height: 12px;
}
.sort-up{
  width: 0;
  height: 0;
  border-top: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid rgba(0, 0, 0, 0.3);
}
.sort-up:hover{
  border-bottom: 12px solid rgba(0, 0, 0, 1);
}
.sort-up:active{
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #ee3643;
}
.sort-down{
  width: 0;
  height: 0;
  border-bottom: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid rgba(0, 0, 0, 0.3);
}
.sort-down:hover{
  border-bottom: none;
  border-top: 12px solid rgba(0, 0, 0, 1);
}
.sort-down:active{
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #ee3643;
}

/*Заголовки*/
.index-heading{
  align-items: flex-start;
  background-color: #f9f5f0;
  color: #32425c;
  display: flex;
  font: normal 30px/40px "Cuprum", Arial, sans-serif;
  justify-content: space-between;
  margin: 0;
  padding: 24px 24px 24px 28px;
  text-transform: uppercase;
}
.index-heading .btn{
  min-width: 253px;
}

/*Карточки товаров*/
.popular-products{
  margin-top: 33px;
  padding: 0;
}
.popular-products ul,
.product-cards ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.popular-products .product-list,
.product-cards .product-list{
  display: flex;
  flex-wrap: wrap;
  font: bold 18px/20px "PT Sans", Arial, sans-serif;
  margin-bottom: 2px;
  margin-top: 20px;
}
.product-item{
  border: 1px solid #eaeaea;
  display: inline-block;
  font-weight: bold;
  line-height: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  width: 218px;
}
.popular-products .product-item:nth-child(4n){
  margin-right: 0;
}
.product-cards .product-item:nth-child(3n){
  margin-right: 0;
}
.product-item:hover{
  box-shadow: 0 10px 25px 0 rgba(41, 52, 43, 0.5);
}
.product-item .flag {
  height: 60px;
  overflow: hidden;
  position: absolute;
  right: -1px;
  text-indent: -1000px;
  top: -1px;
  width: 60px;
  z-index: 20;
}
.product-item .flag-new {
  background: url("../img/new_flag.png") no-repeat 0 0;
}
.product-item .product-actions {
  background-color: rgba(255,255,255,0.9);
  height: 88px;
  left: 0;
  padding: 40px 0;
  position: absolute;
  top: 0;
  width: 218px;
  z-index: 10;
}
.product-actions .product-buy,
.product-actions .product-bookmark{
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  margin: 0 auto 7px auto;
  padding: 7px 0;
  text-decoration: none;
  text-transform: uppercase;
  width: 129px;
}
.product-actions .product-buy:hover{
  background-color: #5fbb2d;
  border-color: transparent;
  border-bottom-color: #367315;
}
.product-actions .product-buy:active{
  background-color: #518534;
  border-color: transparent;
}
.product-actions .product-bookmark{
  color: #32425c;
  background: #fff;
  border-bottom-color: #63a63e;
}
.product-actions .product-bookmark:hover{
  background-color: #fff;
  border: 3px solid #32425c;
  color: #32425c;
}
.product-actions .product-bookmark:active{
  opacity: 0.3;
}
.product-item .product-actions {
  display: none;
}
.product-item:hover .product-actions {
  display: block;
}
.product-item .product-img {
  height: 168px;
  width: 218px;
}
.product-item .product-img img {
  height: 170px;
  width: 218px;
}

.product-item .product-title {
  display: inline-block;
  min-height: 40px;
  margin-top: 11px;
  margin-bottom: 11px;
  padding: 0 25px;
}

.product-item .old-price {
  color: #999;
  display: inline-block;
  font: 700 17px/18px "PT Sans", Arial, sans-serif;
  min-height: 16px;
  margin-bottom: 8px;
  text-decoration: line-through;
}
.product-item .new-price {
  background: #ee3643;
  border-radius: 3px;
  color: white;
  display: block;
  font: 700 17px/18px "PT Sans", Arial, sans-serif;
  margin: 0 auto 20px auto;
  min-height: 18px;
  padding: 10px 30px;
  position: relative;
  width: 80px;
}
.product-item .new-price:after {
  border: 19px solid white;
  border-left-color: #ee3643;
  content: "";
  height: 0;
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
}
.product-item .new-price:hover{
  background-color: #ca2c37;
}
.product-item .new-price:hover::after{
  border-left-color: #ca2c37;
}
.product-item .new-price:active{
  background-color: #ba2732;
}
.product-item .new-price:active::after{
  border-left-color: #ba2732;
}

/*Популярные производители*/
.pop-fabric-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
  padding: 0;
}
.pop-fabric-item{
  margin: 0 20px 20px 0;
  padding: 0;
  border: 1px solid #eaeaea;
}
.pop-fabric-item:nth-child(4n){
  margin-right: 0;
}
.pop-fabric-item:hover{
  box-shadow: 0 10px 25px 0 rgba(41, 52, 43, 0.5);
}
.pop-fabric-item:active{
  opacity: 0.3;
}
.pop-fabric-item .pop-fabric-link{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 143px;
  width: 218px;
}
.pop-fabric-item .pop-fabric-link img{
  max-height: 141px;
  max-width: 216px;
}

/*Сервисы*/
.services{
  background-color: #f4f8fa;
  border-bottom: 2px solid transparent;
  margin-top: 65px;
  min-height: 520px;
}
.services .container{
  padding-bottom: 50px;
}
.service-title,
.service-details-title{
  display: inline-block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.service-title-info,
.service-details-info{
  font: normal 13px/24px "PT Sans", "Arial", sans-serif;
  margin: 0;
}
.service-title {
  font-size: 30px;
  line-height: 30px;
  margin-top: 65px;
  margin-bottom: 27px;
}

.service-columns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

/*Линки сервисов*/
.service-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  min-height: 272px;
  padding: 0;
  position: relative;
  width: 240px;
}
.service-list:before {
  background: url("../img/services-shadow.png") no-repeat center;
  content: "";
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
}
.service-link {
  background-color: #32425c;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font: bold 21px/30px "Cuprum", Arial, sans-serif;
  min-height: 60px;
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left: 22px;
}
.service-link:hover {
  background-color: #293449;
}
.service-link-active {
  background-color: #ffffff;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: #32425c;
}
.service-link-active:hover {
  background-color: #ffffff;
}

/*Описание сервисов*/
.service-details-block {
  display: none;
  float: right;
  min-height: 283px;
  position: relative;
  width: 620px;
}
.service-details-active{
  display: block;
}
.service-details-title {
  font-size: 36px;
  line-height: 36px;
  margin: 48px 0 24px 0;
}
.service-delivery-info {
  width: 280px;
}
.service-delivery-info + .service-delivery-info {
  width: 180px;
}
.service-details-delivery:before,
.service-details-warrianty:before,
.service-details-credit:before{
  bottom: -50px;
  content: "";
  position: absolute;
  right: 0;
}
.service-details-delivery:before {
  background: url("../img/delivery-bg.png") no-repeat center;
  height: 261px;
  width: 468px;
}
.service-warrianty-info {
  width: 380px;
}
.service-warrianty-info + .service-warrianty-info {
  width: 400px;
}
.service-details-warrianty:before {
  background: url("../img/guarantee-bg.png") no-repeat center;
  height: 283px;
  width: 389px;
}
.service-credit-info {
  width: 220px;
}
.service-credit-info + .service-credit-info {
  width: 300px;
  margin-bottom: 29px;
}
.service-details-credit:before {
  background: url("../img/credit-bg.png") no-repeat center;
  height: 285px;
  width: 465px;
}
.service-btn {
  color: #fff;
  width: 175px;
  padding: 10px;
  text-transform: uppercase;
}


/*Доставка и контакты*/
.company-info{
  display: flex;
  justify-content: space-between;
  min-height: 516px;
  padding-bottom: 20px;
}
.delivery-heading,
.contacts-heading{
  display: inline-block;
  font: normal 30px/30px "Cuprum", Arial, sans-serif;
  margin: 78px 0 0 0;
  text-transform: uppercase;
}
.delivery-text,
.contacts-caption{
  display: inline-block;
  font: normal 13px/24px "PT Sans", Arial, sans-serif;
  margin: 24px 0 0 0;
}
.delivery-text{
  width: 540px;
}
.delivery-text.delivery-info{
  width: 400px;
}
.delivery-list{
  display: inline-block;
  font: normal 18px/20px "Cuprum", Arial, sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 22px 0 0 0;
  width: 300px;
}
.delivery-item{
  display: block;
  width: 540px;
  padding-left: 36px;
  position: relative;
  margin: 0 0 20px 0;
}
.delivery-item::before{
  background-color: #ee3643;
  content: "";
  height: 2px;
  position: absolute;
  top: 9px;
  left: 0;
  width: 25px;
}
.delivery-btn{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 16px;
  width: 200px;
}
.contacts-caption{
  margin: 0;
  margin-top: 25px;
  width: 220px;
}
.contacts .map-address{
  display: block;
  margin-top: 30px;
}
.contacts .map-address img{
  height: 158px;
  width: 300px;
}
.contacts-btn{
  margin-top: 38px;
}

/*Линки карточек*/
.card-links-section{
  padding-top: 30px;
  display: flex;
}
.card-link{
  align-items: center;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #000;
  display: flex;
  font: normal 13px/18px "PT Sans", Arial, sans-serif;
  justify-content: center;
  min-height: 26px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  min-width: 26px;
}
.card-link:hover{
  border-color: #bdc6ca;
}
.card-link:active{
  border-color: #ee3643;
}
.current-card{
  background-color: #ee3643;
  border-color: #ee3643;
  color: #fff;
}
.current-card:hover{
  background-color: #ca2c37;
  border-color: #ca2c37;
}
.current-card:active{
  background-color: #ba2732;
  border-color: #ba2732;
}
.card-link:last-child{
  min-width: 128px;
}

/*Описание раздела*/
.page-caption{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: #f2f6f8;
  margin-top: 60px;
}
.page-caption-heading{
  display: block;
  font: normal 30px/30px "Cuprum", Arial, sans-serif;
  padding: 0;
  margin: 64px 0 25px 0;
  text-transform: uppercase;
}
.page-caption-text{
  display: block;
  font: normal 13px/24px "PT Sans", Arial, sans-serif;
  margin: 0 0 66px 0;
}

/*--footer--*/
.site-footer{
  background-color: #32425c;
  font: normal 18px/24px "Cuprum", Arial, sans-serif;
}
.site-footer ul{
  list-style: none;
  padding: 0;
}
.site-footer .footer-link:hover{
  text-decoration: underline;
}
.site-footer .footer-link:active{
  opacity: 0.5;
  text-decoration: none;
}

/*footer-top*/
.footer-top .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-top .logo{
  height: 63px;
  line-height: 63px;
}
.footer-top .navigation{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 38px 0 0 0;
  max-width: 620px;
}
.footer-top .navigation-item{
  display: inline-block;
  padding: 0 0 5px 59px;
}
.footer-top .navigation-link{
  color: #f1f5f7;
}

/*footer-middle*/
.footer-middle{
  margin-top: 19px;
}
.footer-middle .container{
  display: flex;
  justify-content: space-between;
}
.footer-middle address{
  color: #f3f7f9;
  display: inline-block;
  font: normal 18px/24px "Cuprum", Arial, sans-serif;
  padding: 10px 4px;
  max-width: 338px;
}
.footer-middle .services-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 590px;
  margin: 0;
}
.footer-middle .services-nav-item{
  display: inline-block;
  padding: 10px 0 5px 60px;
}
.footer-middle .services-nav-link{
  color: #ffd180;
}

/*footer-bottom*/
.footer-bottom{
  background-color: #293449;
  border: 1px solid transparent;
  margin-top: 40px;
}
.footer-bottom p{
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}
.footer-bottom a{
  color: #ffd180;
}
.footer-bottom .container{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.company-rights{
  display: inline-block;
  max-width: 240px;
  padding: 15px 0 0 0;
}

.footer-bottom .social-links-wrap{
  display: flex;
  flex-wrap: wrap;
  margin-left: 136px;
  max-width: 200px;
  padding: 10px;
}
.footer-bottom .social-link{
  border-radius: 50%;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 42px;
  margin: 2px 0 0 3px;
  width: 42px;
}
.footer-bottom .social-link:hover,
.footer-bottom .social-link:active{
  background-color: #ee3643;
}
.footer-bottom .vk{
  background-image: url("../img/icon-vk.svg");
}
.footer-bottom .fb{
  background-image: url("../img/icon-fb.svg");
}
.footer-bottom .ig{
  background-image: url("../img/icon-insta.svg");
}

.footer-bottom .footer-link:active{
  color: #ee3643;
  opacity: 1;
}
.feedback-author-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  padding: 15px 5px 10px 5px;
  width: 300px;
}
.feedback-capt,
.author{
  display: inline-block;
  padding: 0 10px 10px 5px;
  max-width: 120px;
}
.footer-link{
  display: block;
}

/*--Попапы--*/

/*Форма обратной связи*/
.feedback-message{
  animation: popup-show 0.5s linear;
  background-color: #fff;
  border-top: 7px solid #ff5257;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  display: none;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  z-index: 101;
}
.feedback-message-show{
  display: inline-block;
}
.feedback-input-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 32px auto 0 auto;
  width: 460px;
}
.feedback-label{
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  height: 70px;
  margin-top: 15px;
  padding: 0;
  width: 220px;

}
.feedback-input[placeholder],
.feedback-text[placeholder]{
  color: #a9a9a9;
}
.feedback-input,
.feedback-text{
  border: 2px solid #dee3e4;
  border-radius: 2px;
  color: #000;
  font: normal 13px/18px "PT Sans", "Arial", sans-serif;
  margin-top: 10px;
  padding: 10px 12px;
}
.feedback-input:focus,
.feedback-text:focus{
  color: #000;
}
.feedback-input{
  height: 12px;
  width: 190px;
}
.feedback-text{
  height: 95px;
  padding: 8px 12px;
  resize: none;
  width: 430px;
}
.feedback-sent-wrap{
  border-top: 1px solid transparent;
  background-color: #f4f4f4;
  height: 110px;
  margin-top: 110px;
  width: 620px;
}
.feedback-sent{
  border-radius: 4px;
  margin: 35px auto;
  width: 460px;
}
.feedback-page{
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
}
.feedback-message-page{
  animation: popup-show 0.5s linear;
  background-color: #fff;
  border-top: 7px solid #ff5257;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  display: inline-block;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
}

/*Попап карты*/
.map-popup{
  animation: popup-show 0.5s linear;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  display: none;
  height: 447px;
  left: 50%;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  outline-offset: -1px;
  overflow: hidden;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 940px;
  z-index: 101;
}
.map-popup-show{
  display: block;
}
.map-popup iframe{
  left: 0;
  position: absolute;
  top: 0;
  width: 940px;
}
.map-popup img{
  left: 0;
  position: absolute;
  top: 0;
  width: 940px;
}

/*Попап добавления в корзину*/
.order-message{
  background-color: #fff;
  border-top: 7px solid #ff5257;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
  display: none;
  margin: 30px auto;
  min-height: 275px;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 620px;
  z-index: 101;
}
.order-message-show{
  display: block;
}
.order-message-page{
  background-color: rgba(0, 0, 0, 0.75);
  display: block;
  height: 100%;
  width: 100%;
}

.feedback-page{
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
}
.feedback-message-page{
  animation: popup-show 0.5s linear;
  background-color: #fff;
  border-top: 7px solid #ff5257;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  display: inline-block;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
}

.order-heading{
  display: block;
  font: normal 30px/30px "Cuprum", "Arial", sans-serif;
  margin: 45px auto 0 auto;
  padding: 20px 10px 20px 100px;
  position: relative;
  width: 350px;
}
.order-heading::before{
  background: url("../img/icon-mark.svg") no-repeat center;
  bottom: 1px;
  content: "";
  position: absolute;
  left: 1px;
  height: 66px;
  width: 66px;
}
.order-message-links{
  align-items: center;
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin-top: 48px;
  min-height: 92px;
}
.order-message-links .btn{
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
.order-message-links .continue-shopping{
  background-color: #fff;
  color: #000;
}
.order-message-links .continue-shopping:hover{
  color: #ee3643;
}
.order-message-links .continue-shopping:active{
  color: rgba(0, 0, 0, 0.3);
}

/*перекрытие body*/
.overlay{
  animation: popup-show 0.5s linear;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.overlay-show{
  display: block;
}
